body {
  background-color: #BAFFEB;
}

#page-header {
  text-transform: uppercase;
  font-family: 'Shrikhand', cursive;
  width: 60%;
  color: #10135;
  position: absolute;
  top: 10%;
  left: 50%;
  margin-left: -30%;
}

th {
  width: 20%;
}

#zodiac-table {
  width: 90%;
  height: 300px;
  top: 45%;
  left: 50%;
  margin-left: -45%;
  margin-top: -150px;
  position: fixed;
}

.arrows {
  width: 20%;
}

#right-arrow {
  text-align: left;
}

#left-arrow {
  text-align: right;
}

.pictures {
  width: 70%;
  margin-top: 24px;
}

.pictures-tab {
  text-align: center;
}

#zodiac-picture {
  width: 100%;
  border-width: 5px;
  border-color: black;
  border-style: solid;
  border-radius: 100%;
}

.words {
  text-transform: capitalize;
  font-size: 20px;
}

#submit-button {
  border-style: hidden;
  border-radius: 8px;
  color: white;
  text-align: center;
  display: block;
  margin: auto;
  top: 78%;
  left: 50%;
  width: 14%;
  height: 7%;
  margin-top: -3.5%;
  margin-left: -7%;
  position: fixed;
  background-color: #010135;
  font-size: 200%;
  height: 80px;
}

#submit-button:hover {
  -webkit-animation: clicker 0.5s, shadow 0.5s;
  animation-fill-mode: forwards;
}

@-webkit-keyframes clicker {
  0% {
    transform: translateX(0px);
    transform: translateY(0px);
  }
  100% {
    transform: translateX(-10px);
    transform: translateY(-10px);
  }
}

@-webkit-keyframes shadow {
  0% {
    box-shadow: none;
  }
  100% {
    box-shadow: 10px 10px red;
  }
}

@keyframes clicker {
  0% {
    transform: translateX(0px);
    transform: translateY(0px);
  }
  100% {
    transform: translateX(-10px);
    transform: translateY(-10px);
  }
}

@keyframes shadow {
  0% {
    box-shadow: none;
  }
  100% {
    box-shadow: 10px 10px red;
  }
}
